// Color Pallete

  // Main Colors

  $color-light: #E9ECEF;
  $color-cyan: #54CC94;
  $color-lightBlue: #1672db;
  $color-blue: #1454a8;
  $color-darkBlue: #182944;
  $color-orange: #ff0000;
  
  // Other Colors
  
  $color-lightGrey: #E8E8E8;
  $color-grey: rgba(255, 255, 255, 0.548);
  $color-darkGrey: rgba(97, 97, 97, 0.548);
  $color-veryDarkBlue: rgb(2, 2, 29);
  $color-red: #D62516;